body{
background-color: black;   
 background-image: url("https://miswordsdotcom.files.wordpress.com/2017/02/playing-cardes.jpg");
  
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
h1{
    color: white;
    font-size: 2.5em;
    
    
}
img {
    padding: 9px;
    border: 5px solid #021a40;
    background-color: #fbfbf8;
}
